.container {
  text-align: center;
  padding: 1em;
}

#player {
  background: #db1d40;
  color: #ffffff;
  padding: 24px;

  .header {
    display: flex;
    align-items: center;

    h1 {
      text-transform: uppercase;
      color: #f0e6e8;
      font-weight: 400;
      padding: 0.25rem 0;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
  }
}

.cue-song {
  animation-duration: 0.3s;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;

  img {
    width: 100%;
    padding: 0.5rem;
    border-radius: 50%;
    background: #d8d6d6;
  }

  .spin {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 15s linear infinite;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .title {
    margin-top: 1.5rem;
    // align-self: flex-start;
    color: white;
    display: block;
  }

  .artist {
    // align-self: flex-start;
    color: #d8d6d6;
  }
}

.playing-label {
  // align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #e4e4e4;
}

.play-btn {
  .f-36 {
    height: 36px !important;
    width: 36px !important;
    font-size: 36px !important;
    line-height: 36px !important;
  }
}

mat-nav-list {
  height: 85vh;
  max-height: 85vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
